/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Color de fondo */
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Altura mínima para centrar verticalmente */
  padding: 20px;
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px; /* Ancho máximo para dispositivos más grandes */
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Color de fondo del botón */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

h2 {
  color: #555;
}

div {
  background: white; /* Fondo blanco para las secciones */
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para las secciones */
  width: 100%;
  max-width: 400px; /* Ancho máximo para secciones */
}

/* Media Queries para Responsividad */
@media (max-width: 1200px) { /* PC */
  #app-container {
    padding: 4px;
  }
}

@media (max-width: 768px) { /* iPad */
  input, button, div {
    width: 90%; /* Ancho del 90% en pantallas medianas */
  }
}

@media (max-width: 600px) { /* Móviles */
  input, button, div {
    width: 95%; /* Ancho del 95% en pantallas pequeñas */
  }
}